@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Yellowtail&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Yellowtail&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body{
    list-style: none;
}

.carousel-item{
    height:600px;

}

.cap{
    font-size: 12px;
    top: 7px;
}
h5{
    font-size: 19px;
    top: 5px;
    text-shadow: 2px 1px 1px black;
}
.rev{
    font-size: 20px;
}
.link{
    bottom: auto;
}

.pic:hover{
    transform: translateY(-10px);
}
.pic{
    transition: 0.4s;
    cursor: pointer;
    color: antiquewhite;
}
.cards{
    background-color: white;
    
}
.cards:hover{
    background-color: black;
    color: white;
}
.i{
    color: white;
}
.theme-shadow{
    box-shadow: var(--box-shadow);
}
.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}
.service::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: white;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease;
}
.service:hover::after{
    width: 100%;
    height: 100%;
    background:rgb(0, 0, 0); 
    z-index: -1;
    
}
.service .iconbox {
    color: rgb(43, 43, 188);
    background-color: rgb(240 240 240);
}
.service:hover h5,
.service:hover p{
    color: white;
}
.service:hover .iconbox{
    color: white;
    background-color: rgb(43, 43, 188);
}
.pd{
    padding-bottom: 100px;
}
.pdr{
    padding-right: 50px;
}
.card1{
    border-width: 0px
}
#dealer{
    background:  url(dealer.jpg);
    background-position: center;
    background-size: cover;
}