@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Yellowtail&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Yellowtail&display=swap');
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

body{
    list-style: none;
}

.carousel-item{
    height:600px;

}

.cap{
    font-size: 12px;
    top: 7px;
}
h5{
    font-size: 19px;
    top: 5px;
    text-shadow: 2px 1px 1px black;
}
.rev{
    font-size: 20px;
}
.link{
    bottom: auto;
}

.pic:hover{
    transform: translateY(-10px);
}
.pic{
    transition: 0.4s;
    cursor: pointer;
    color: antiquewhite;
}
.cards{
    background-color: white;
    
}
.cards:hover{
    background-color: black;
    color: white;
}
.i{
    color: white;
}